@model HardSoftMVC.Models.BlogDetails

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Document</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/blog.css")
</head>
<body>
    <aside class="sideBar">
        <header>
            <span class="glyphicon glyphicon-remove navbartogg"></span>
        </header>
        <main>
            <div class="time">
                <div>Any Questions?</div>
                <div>Call Us: <span><a href="tel:202-555-0130">202-555-0130</a></span></div>
            </div>
        </main>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")#home">Home</a></li>
                <li><a href="@Url.Action("Index", "Posts")">Posts</a></li>
                <li><a href="@Url.Action("Index", "Home")#trainers">Trainers</a></li>
                <li><a href="@Url.Action("Index", "Home")#contact">Contact</a></li>
            </ul>
        </nav>
    </aside>
    <section class="s-l animated wow fadeIn" id="home">
        <main>
            <div class="navBar">
                <div class="container">
                    <section class="logo">
                        <a href="">HardSoft</a>
                    </section>
                    <nav class="nav">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")#home">Home</a></li>
                            <li><a href="@Url.Action("Index", "Posts")">Posts</a></li>
                            <li><a href="@Url.Action("Index", "Home")#trainers">Trainers</a></li>
                            <li><a href="@Url.Action("Index", "Home")#contact">Contact</a></li>
                        </ul>
                    </nav>
                    <button class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <section class="section blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="new">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <div class="titlenew">
                                                        <h3><a href="@Url.Action("Details", "Posts", new { id = Model.Post.Id })">@Model.Post.Title</a></h3>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="head">
                                                        <a href="@Url.Action("Details", "Posts", new { id = Model.Post.Id })"><img src="~/images/news/@Model.Post.ImageURL" class="img-responsive" alt=""></a>
                                                    </div>
                                                    <div class="content">
                                                        @Html.Raw(Model.Post.Content)
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="meta">
                                                        <div>
                                                            <i class="fa fa-user"></i>
                                                            <span>BY:</span>
                                                            @if (Model.Post.Author != null)
                                                            {
                                                                <a href="">@Model.Post.Author.FullName</a>
                                                            }
                                                            else
                                                            {
                                                                <span>Anonymous</span>
                                                            }
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-calendar"></i>
                                                            <span>@Model.Post.Date.ToString("MMMM dd, yyyy")</span>
                                                        </div>
                                                        <div>
                                                            <i class="fa fa-folder-open-o"></i>
                                                            <span>IN:</span>
                                                            @for (int i = 0; i < Model.Tags.Count; i++)
{
    @Html.ActionLink(Model.Tags[i].TagName, "Index", "Posts", new { searchString = Model.Tags[i].TagName }, null)
    if (i < Model.Tags.Count - 1)
    {
        <span>, </span>
    }
}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 sidebar">
                            <div class="search">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <i class="fa fa-search"></i>
                                        <span>Search</span>
                                    </div>
                                    <div class="panel-body">
                                        <form action="">
                                            <div class="form-group">
                                                <input type="search" class="form-control" placeholder="Search Here...">
                                            </div>
                                            <button type="submit" class="btn btn-default">Search now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tags">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <i class="fa fa-folder-open-o"></i>
                                        <span>Tags</span>
                                    </div>
                                    <div class="panel-body">
                                        @foreach (var tag in Model.Tags)
{
    @Html.ActionLink(tag, "Index", "Posts", new { searchString = tag }, null)
}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span>&copy; copyright 2016 - Fitness Centre HardSoft</span>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blog")
</body>
</html>
