@model HardSoftMVC.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="panel login">
                                <div class="panel-heading">
                                    Login to your Account
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.Avatar, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Avatar, new { type = "file", @class = "form-control file" })
                                            @Html.ValidationMessageFor(model => model.Avatar)
                                        </div>
                                        <input type="submit" class="btn" value="Register">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
