@model HardSoftMVC.Models.RegisterViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Avatar</title>
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Avatar, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(m => m.Avatar, new { type = "file", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Avatar)
                                            </div>
                                        </div>
                                        <input type="submit" class="btn" value="Change">
    }
</body>
</html>
