<<<<<<< HEAD
﻿﻿@model HardSoftMVC.Models.ChangePasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Change Password";
=======
<<<<<<< HEAD
﻿@model HardSoftMVC.Models.ChangePasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Change Password";
=======
﻿@{
    Layout = null;
>>>>>>> master
>>>>>>> refs/remotes/origin/master
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")

</head>
<<<<<<< HEAD
<body>
=======
<<<<<<< HEAD
<body>
=======
@model HardSoftMVC.Models.ChangePasswordViewModel

<body>
    @{
        ViewBag.Title = "Change Password";
    }
>>>>>>> master
>>>>>>> refs/remotes/origin/master
    <section class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="panel login">
                                <div class="panel-heading">
<<<<<<< HEAD
                                    Change Password Form
=======
                                    Change your password
>>>>>>> master
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
<<<<<<< HEAD
=======
<<<<<<< HEAD
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                                        </div>
                                        <input type="submit" value="Change password" class="btn" />
                                       }
=======
                                        <h4>Change Password Form</h4>
                                        <hr />
>>>>>>> refs/remotes/origin/master
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                                        </div>
                                        <div class="input-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                                        </div>
<<<<<<< HEAD
                                        <input type="submit" value="Change password" class="btn" />
                                       }
=======
                                    }
>>>>>>> master
>>>>>>> refs/remotes/origin/master
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<<<<<<< HEAD
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>

=======
<<<<<<< HEAD

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
=======
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
>>>>>>> master
>>>>>>> refs/remotes/origin/master
